{%extends 'index.html'%}

{% block content %}
<div class="row">
    <div class="col-sm-2  offset-2">
        <h3 class="text-center alert alert-info">Add new student </h3>

        <form action="" method="POST">
            {%csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success">
        </form>
    </div>

    <div class="col-sm-8">
        <div class="text-center alert alert-info">
            <h4>Retrive student infomation</h4>
            {% if retrive %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>ACTION</th>

                    </tr>
                </thead>
                <tbody>
                    {% for st in retrive %}
                    <tr>

                        <td scope="row">{{st.id}}</td>
                        <td>{{st.name}}</td>
                        <td>{{st.email}}</td>
                        <td>{{st.Password}}</td>
                        <td>
                            <a href="{%url 'update' st.id%}" class="btn btn-warning ">Edit</a>

                            <form action="{% url 'delete' st.id %}" method="POST" class="d-inline">
                                {%csrf_token%}
                                <input type="submit" value="Delete" class="btn btn-danger ">

                            </form>
                        </td>


                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            {%else%}:
            <h4 class="text-center alert alert-info">No Records</h4>

            {%endif%}
        </div>
    </div>
</div>

{%endblock content%}