{%extends 'index.html'%}

{% block content %}
<div class="row">
    <div class="col-md-sm-8 offset-2">
        <h4>Update student id {{id}} </h4>

        <form action="" method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="update">

            <a href="{%url 'addshow'%}" class="btn btn-success">Back To Home</a>

        </form>

    </div>

    {% if status %}
    <script>
        alert("{{status}}");
        window.location = "/"
    </script>
    {% endif %}

</div>


{%endblock content%}